html
{
	scroll-behavior: smooth;
}

ul
{
	text-decoration: none;
	list-style-type: none;
}

.bg-burnt
{
	background-color: #f4c631;
}

.hoverDarker:hover
{
	background: #EBEBEB !important;
	transition: 0.5s;
}

.index-front
{
	z-index: 1000;
}